body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.frontpage .movie-thumb, .movies .movie-thumb, .seasons .movie-thumb {
  height: 240px;
}

.movies .movie-thumb small {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.w-header {
  padding-top: 20px;
}